<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>sql</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="stylesheet" href="__CSS__/my.css">
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushDelphi.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushDiff.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushGroovy.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushPlain.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushScala.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushVb.js"></script>
<script type="text/javascript" src="__JS__/syntaxhighlighter/scripts/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="__JS__/syntaxhighlighter/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="__JS__/syntaxhighlighter/styles/shThemeDefault.css"/>
<script type="text/javascript" src="__JS__/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__JS__/function.js"></script>
<script type="text/javascript">
	SyntaxHighlighter.config.clipboardSwf = '__JS__/syntaxhighlighter/scripts/clipboard.swf';
	SyntaxHighlighter.all();
</script>
<body>
	<a href="javascript:scrollTo(0,0);" class='totop'>顶部↑</a>
	<div name='title' class='top1'>
		<p class='title1'>sql</p>
		<p class='line1'></p>
	</div>

<div class='acard'>
	<a href="#note1">根据某字段的值查询</a>
	<a href="#note2">模糊查询</a>
	<a href="#note3">or条件查询</a>
	<a href="#note4">返回某个字段的值</a>
	<a href="#note5">数据集分批处理</a>
	<a href="#note6">where条件</a>
	<a href="#note7">多条件查询</a>
	<a href="#note8">获取记录条数</a>
	<a href="#note9">in条件查询</a>
</div>

<div id='note1' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>根据某字段的值查询：</div>
		<div name='content' class='width2'>
<pre class="brush: c-sharp;">
// 根据某字段的值查询
->where('status',1)
</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
					多个->where()可表示and
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p>

<div id='note2' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>模糊查询：</div>
		<div name='content' class='width2'>
// 模糊查询
<pre class="brush: c-sharp;">
->where('name','like','%thinkphp')
</pre>
// 多字段模糊查询
<pre class="brush: c-sharp;">
->where('name&title','like','%thinkphp')
</pre>
// 分离的模糊查询
<pre class="brush: c-sharp;">
$where['username'] = array('like', "%$cname%");
</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p>

<div id='note3' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>or条件查询：</div>
		<div name='content' class='width2'>
// or条件查询
<pre class="brush: c-sharp;">
->where()->whereOr()
</pre>
// 多字段or条件模糊查询
<pre class="brush: c-sharp;">
->where('name|title','like','%thinkphp')
</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
					->where()->where()表示and条件查询
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p>

<div id='note4' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>返回某个字段的值：</div>
		<div name='content' class='width2'>
// 查询某一列的值的数组
<pre class="brush: c-sharp;">
Db::table('think_user')->where('status',1)->column('name');
</pre>
// 返回某一列的第一个值
<pre class="brush: c-sharp;">
Db::table('think_user')->value('name');
</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p>

<div id='note5' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>数据集分批处理：</div>
		<div name='content' class='width2'>
<pre class="brush: c-sharp;">
Db::table('think_user')->where('score','>',80)->chunk(100, function($users) {
    foreach ($users as $user) {
    	return false;  // 终止处理
    }
});
</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
					大数据时提高效率？
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p>

<div id='note6' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>where条件：</div>
		<div name='content' class='width2'>
// 等于
<pre class="brush: c-sharp;">
where('id','eq',100)
</pre>
// 不等于
<pre class="brush: c-sharp;">
where('id','neq',100)
</pre>
// 大于
<pre class="brush: c-sharp;">
where('id','gt',100)
</pre>
// 小于
<pre class="brush: c-sharp;">
where('id','lt',100)
</pre>
<pre class="brush: c-sharp;">
where('id','between','1,8')
</pre>
<pre class="brush: c-sharp;">
where('id','not in','1,5,8')
</pre>
<pre class="brush: c-sharp;">
where('title','null')
</pre>
<pre class="brush: c-sharp;">
where('name','not null')
</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p>

<div id='note7' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>多条件查询：</div>
		<div name='content' class='width2'>
<pre class="brush: c-sharp;">
Db::table('think_user')
    ->where([
        'name'  =>  ['like','thinkphp%'],
        'title' =>  ['like','%thinkphp'],
        'id'    =>  ['>',0],
        'status'=>  1
    ])->select();
</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p>

<div id='note8' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>获取记录条数：</div>
		<div name='content' class='width2'>
<pre class="brush: c-sharp;">
Db::table('')->count();
</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p>

<div id='note9' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>in条件查询：</div>
		<div name='content' class='width2'>
// 分离的in条件
<pre class="brush: c-sharp;">
$where['id']  = array('not in','1,5,8');
</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p>


<!-- <div id='note' name='contentcard1' class='width1'>
		<div name='littletitle' class='title2'>：</div>
		<div name='content' class='width2'>
<pre class="brush: c-sharp;">

</pre>
			<div class='content1'>解释说明：
				<div class='mark1'>
				</div>
			</div>
		</div>
	</div>
<p class='line2'></p> -->



</body>
</html>
