p,body,li,td,tr,span,a{
	margin:0;padding:0;width:100%;
}
body{
	width:100%;
}
.top1{
	margin-bottom: 20px;
}
.title1{
	height:80px;line-height: 80px;text-align: center;font-size: 22px;
}
.title2{
	height:60px;line-height: 60px;font-size: 18px;
}
.content1{
	height:auto; line-height: 40px;font-size:16px;color:black;
	width:100%;
}
.line1{
	border-bottom:2px solid black;width:99%;
}
.width1{
	width:80%;margin:0 auto;
}
.width2{
	width:90%;margin:0 auto;
}
.line2{
	border-bottom:1px solid gray;width:90%;margin:20px auto;
}
.mark1{
	color:#880015;
}
.acard{
	width:90%;height:90px;margin:0 auto;
}
.acard a{
	width:20%;height:30px;line-height: 30px; display: inline-block;
	text-align:center;float:left;text-decoration:none;
}
.totop{
	position: fixed; bottom:50px; right: 50px; display: block;
	width:50px; height:50px;text-decoration: none;
}